header {
    background-color: #F5DEB3;
}

nav {
    background-color: #FFDEAD;
}

h2 {
    text-indent: 15px;
}

td {
    /*Многострочный текст внутри ячейки таблицы*/
    white-space:pre;
}

pre {
    white-space: pre-wrap;
}

.text-danger, .text-success {
    font-size: 25px;
}

img.card_img {
    text-align: center;
    margin-bottom: 30px;
}