{% extends "base.html" %}

{% block content %}
<div style="background-color: white; border-radius: 20px; padding: 10px 10px;">
    <p style="font-size: 16pt;">Существует 4 типа контента: видео, новости,
        посты (анонимные и обычные) и комментарии. На странице с сеткой постов
        отображаются их карточки и на каждую публикацию можно зайти, прочитать,
        лайкнуть и оставить комментарий. Из страницы с сеткой новостей можно
        непосредственно попасть на вкладку новости, так же прочесть её неполное
        содержимое и перейти к первоисточнику. Аналогично и с видео. Реализован
        поиск каждого типа контента по ключевому слову на отдельной странице. А
        также есть личный кабинет пользователя, его профиль, подписчики и
        подписки, и топ пользователей по кол-ву лайков за все их посты.
        Есть телеграм-бот при помощи которого можно создавать анонимные посты.
    </p>
</div>
{% endblock %}