{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center;">{{ title }}</h2>
<form action="" method="post" enctype="multipart/form-data" class="login_form">
    {{ form.hidden_tag() }}
    <p>
        <span class="add_edit_form">{{ form.title.label }}</span><br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
    <span class="add_edit_form">{{ form.content.label }}</span><br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <span class="add_edit_form">{{ form.icon.label }}</span><br>
        {{ form.icon(class="form-control-file") }}<br>
        {% for error in form.icon.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <span class="add_edit_form">{{ form.category.label }}</span><br>
        {{ form.category(class="form-control", id="choose_category") }}<br>
        {% for error in form.category.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        <!--<select multiple class="form-control" id="choose_category" name="category">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name
                    }}</option>
            {% endfor %}
        </select>
        <label class="form-check-label" for="choose_category">
             Выберите категорию
         </label>-->
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <p class="text-danger">{{ message }}</p>
</form>
{% endblock %}