<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
         <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    <!--<link rel="stylesheet"
      href="{{ url_for('static', filename='css/show.css') }}">-->
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>{{title}}</title>

</head>
<body>
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted m-2" href="/">Главная</a>
            </div>
            <div class="col-4 text-center">
                <!--Название-->
                <h2>
                    <a class="blog-header-logo text-dark m-1" href="#">Blog</a>
                </h2>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <!--Кнопки в зависимости от того, зашёл ли пользователь или нет-->
                {% if current_user.is_authenticated %}
                <a class="btn btn-sm btn-outline-secondary m-1"
                   href="/about_user">Личный кабинет</a>
                <a class="btn btn-sm btn-outline-secondary m-1"
                   href="/logout">Выйти</a>
                {% else %}
                <a class="btn btn-sm btn-outline-secondary m-1"
                   href="/login">Войти</a>
                <a class="btn btn-sm btn-outline-secondary m-1"
                   href="/register">Зарегистрироваться</a>
                {% endif %}
                <!--Поиск-->
                <a class="text-muted" href="/search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20"
                         height="20" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round"
                         class="mx-3">
                        <circle cx="10.5" cy="10.5" r="7.5"></circle>
                        <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                    </svg>
                </a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted"
               href="/posts/users/{{ current_user.id }}">Мои посты</a>
            <a class="p-2 text-muted" href="/liked">Понравившиеся посты</a>
            <a class="p-2 text-muted" href="/users">Топ пользователей</a>
            <a class="p-2 text-muted" href="/posts/create">Написать пост</a>
        </nav>
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="#">Телеграмм-бот</a>
            <a class="p-2 text-muted" href="#">API</a>
            <a class="p-2 text-muted" href="/anonim_posts/create">
                Написать анонимный пост</a>
            <a class="p-2 text-muted" href="/news">Новости</a>
            <a class="p-2 text-muted" href="/about">О сайте</a>
        </nav>
    </div>
</div>


<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<!--<footer class="blog-footer">-->
<!--    <p>Подвал(...2021...)</p>-->
<!--    <a href="#">Back to top</a>-->
<!--</footer>-->
<!-- <footer>
<div>
   какой-нибудь общий родитель для кнопки и блоков
  <button class="more">Show 3</button>
  <hr>
  <div class="wrapper-boxes">
    <div class="hidden">A</div><div class="hidden">B</div><div class="hidden">V</div>
    <div class="hidden">D</div><div class="hidden">E</div><div class="hidden">F</div>
    <div class="hidden">G</div><div class="hidden">H</div><div class="hidden">I</div>
    <div class="hidden">J</div><div class="hidden">K</div><div class="hidden">L</div>
    <div class="hidden">M</div><div class="hidden">N</div><div class="hidden">O</div>
    <div class="hidden">P</div>
  </div>
</div>

</footer>
   <script>
      var more = document.querySelectorAll('.more');

for (var i = 0; i < more.length; i++) {
  more[i].addEventListener('click', function() {
    var showPerClick = 3;

    var hidden = this.parentNode.querySelectorAll('div.hidden');
    for (var i = 0; i < showPerClick; i++) {
      if (!hidden[i]) return this.outerHTML = "";

      hidden[i].classList.add('box');
      hidden[i].classList.remove('hidden');
    }
  });
}
    </script>-->
</body>
</html>