{% extends "base.html" %}

{% block content %}

<form action="" method="post" class="form-inline pb-2">
    <input name="for_search" class="form-control m-2" value="{{ last_query }}">

    <select name="kind" class="form-select m-2" autofocus>
        <option value="users">Пользователи</option>
        <option value="posts">Посты</option>
        <option value="videos" selected>Видео</option>
    </select>

    <input class="btn btn-primary m-2" id="submit" name="submit" type="submit"
           value="Поиск">
</form>

{% if videos %}
{% for i in range(0, videos | length, 2) %}
<div class="row mb-2">
    {% for video in videos[i:i + 2] %}
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <a href="/video/{{video['id']}}">
                <img class="card_img"
                     src="{{ video['url_img'] }}"
                     alt="Картинка видео!">

                    <h3 class="mb-0">
                        {{ video['title'] }}
                    </h3>
                </a>
                <div class="mb-1 text-muted" style="font-size: 16pt;">{{ video['date'].strftime('%e
                    %b %Y') }}
                </div>
                <p class="card-text mb-auto">{{ video['description'][:60]
                    }}...</p>
            </div>
        </div>

    </div>

    {% endfor %}
</div>
{% endfor %}

{% else %}
<p class="text-danger text-center">Ничего не найдено!</p>
{% endif %}

<nav aria-label="Page navigation example" style="font-size: 18pt;">
    <ul class="pagination">
        <li class="page-item"><a class="page-link"
                                 href="{{ prev_url }}">Previous</a>
        </li>
        {% for p in pages %}
        <li class="page-item {% if p == page %} active-page-item {% endif %}"><a class="page-link"
                                 href="{{ url_for('search',
                                 query=last_query, kind=kind, page=p) }}">{{ p }}</a></li>
        {% endfor %}
        <li class="page-item"><a class="page-link"
                                 href="{{ next_url }}">Next</a></li>
    </ul>
</nav>


{% endblock %}
