{% extends "base.html" %}

{% block content %}
<table width="100%" class="table table-bordered">
    <tr class="table-secondary">
        <td>id</td>
        <td>Фамилия и имя</td>
        <td>email</td>
        <td>Дополнительная информация</td>
        <td>Количество постов</td>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.surname }} {{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.about }}</td>
        <td><a href="/posts/users/{{ user.id }}">Посмотреть его посты</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}