{% extends "base.html" %}

{% block content %}
<div style="text-align: center;">
<img height="200px" width="200px" style="border-radius: 50%;"
     src="{{ url_for('static', filename='img/users/') + user.icon
        }}"
     alt="Аватарка">
<h2 style="margin: 20px 0;">{{ user.surname }} {{ user.name }}</h2>
        </div>
<h2 style="margin: 20px 0;">ID: {{ user.id }}</h2>
<h2 style="margin: 20px 0;">Email: {{ user.email }}</h2>
<h2 style="margin: 20px 0;">О себе: </h2>
<div
        style="margin-bottom: 20px; background-color: white; border-radius: 20px; padding: 10px 10px; ">
<pre style="font-size: 16pt;">{{ user.about }}</pre>
</div>

{% if not is_cur_user and not is_subscribed %}
<a class="btn btn-primary p-1" href="/users/{{ user.id }}/subscribe">
    Подписаться</a>
{% elif not is_cur_user %}
<a class="btn btn-danger p-1" href="/users/{{ user.id }}/unsubscribe">
    Отписаться</a>
{% endif %}
<a class="btn btn-primary p-1" href="/posts/users/{{ user.id }}">
    Посмотреть посты</a>

<h3 style="margin-top: 50px;">Подписки</h3>
<table width="100%" class="table table-bordered" style="color: white; font-size: 14pt;">

    <tr class="bg-primary" style="font-size: 18pt; font-weight:bold;">
        <td>Фамилия и имя</td>
        <td>Email</td>
        <td>Посты</td>
    </tr>
    {% for user1 in user.followed %}
    <tr class="bg-primary">
                <td><img alt="Профиль пользователя" width="50px" height="50px"
                                 src="{{url_for('static', filename='img/users/') + user1.icon}}"
                                 style="border-radius: 50%;">
<a href="/users/{{ user1.id }}" style="color: white;">{{ user1.surname }} {{ user1.name }}</a></td>
        <td>{{ user1.email }}</td>
        <td><a href="/posts/users/{{ user1.id }}" style="color: white;">Посмотреть его посты ({{
           user1.posts | length }})</a></td>
    </tr>
    {% endfor %}
</table>

<h3>Подписчики</h3>
<table width="100%" class="table table-bordered" style="color: white; font-size: 14pt;">

    <tr class="bg-primary" style="font-size: 18pt; font-weight:bold;">
        <td>Фамилия и имя</td>
        <td>Email</td>
        <td>Посты</td>
    </tr>
    {% for user1 in user.subscribed %}
    <tr class="bg-primary">
                <td><img alt="Профиль пользователя" width="50px" height="50px"
                                 src="{{url_for('static', filename='img/users/') + user1.icon}}"
                                 style="border-radius: 50%;">
<a href="/users/{{ user1.id }}" style="color: white;">{{ user1.surname }} {{ user1.name }}</a></td>
        <td>{{ user1.email }}</td>
        <td><a href="/posts/users/{{ user1.id }}" style="color: white;">Посмотреть его посты ({{
           user1.posts | length }})</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
