{% extends "base.html" %}

{% block content %}
<h3>{{ user.surname }} {{ user.name }}</h3>
<img height="200px"
     src="{{ url_for('static', filename='img/users/') + user.icon
        }}"
     alt="Аватарка">
<p>{{ user.id }}</p>
<p>{{ user.email }}</p>
<pre>{{ user.about }}</pre>

{% if not is_cur_user and not is_subscribed %}
<a class="btn btn-primary" href="/users/{{ user.id }}/subscribe">
    Подписаться</a>
{% elif not is_cur_user %}
<a class="btn btn-danger" href="/users/{{ user.id }}/unsubscribe">
    Отписаться</a>
{% endif %}
<a class="btn btn-primary p-1" href="/posts/users/{{ user.id }}">Посмотреть посты</a>
<h3>Подписки</h3>
<table class="table table-bordered">
    {% for user1 in user.followed %}
    <tr>
        <td>
            <a href="/users/{{ user1.id }}">{{ user1.surname }} {{ user1.name }}</a>
        </td>
        <td>
            <a href="/posts/users/{{ user1.id }}">Посмотреть его посты</a>
        </td>
    </tr>
    {% endfor %}
</table>
<h3>Подписчики</h3>
<table class="table table-bordered">
    {% for user1 in user.subscribed %}
    <tr>
        <td>
            <a href="/users/{{ user1.id }}">{{ user1.surname }} {{ user1.name }}</a>
        </td>
        <td>
            <a href="/posts/users/{{ user1.id }}">Посмотреть его посты</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
